# ui
bokeh==2.2.3
streamlit >= 0.83
# ... for use of st.form
streamlit-bokeh-events 

# dataframes
pandas >= 1.3
geopandas

# filesystem
fsspec[s3]
python-dotenv
# ... for use of pd.read_* storage_options

# model
git+git://github.com/codema-dev/rc-building-model
